<h1>{{section.settings.heading}}</h1>

{% for block in section.blocks %}
{% if block.type == "QA" %}
    <h3>{{block.settings.title}}</h3>
    <p>{{block.settings.answer}}</p>
{% elsif block.type == "headline" %}
    <h1>{{block.settings.title}}</h1>
{% endif %}


{% endfor %}

{% schema %}
{
   "name":"customer questions",
   "settings":[
      {
         "type":"text",
         "label":"heading for faq",
         "id":"heading"
      }
   ],
   "blocks":[
      {
         "type":"QA",
         "name":"Question/Answer",
         "settings":[
            {
               "type":"text",
               "label":"customer question",
               "id":"title"
            },
            {
               "type":"textarea",
               "label":"answer for faq",
               "id":"answer"
            }
         ]
      },
      {
          "type":"headline",
          "name":"Headline",
          "settings":[
              {
                  "type":"text",
                  "label":"headline",
                  "id":"title"
              }
          ]
      }
   ]
}


{% endschema %}